.sidebarContainer {
    width: 8%;
    background: var(--white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.logo {
    height: 48px;
    width: 48px;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linkContainer a {
    text-align: center;
    height: 72px;
    position: relative;
    overflow: hidden;
}

.linkContainer a::after{
    content: "";
    height: 100%;
    background: var(--blue-dark);
    width: 15px;
    position: absolute;
    left: -10px;
    border-radius: 15px;
    transition: all .35s;
    opacity: 0;
}

.linkContainer a:hover::after{
    opacity: 1;
}

.linkContainer a img {
    margin-top: 18px;
}