.sidebarContainer {
    width: 8%;
    background: var(--white);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.logo {
    height: 48px;
    width: 48px;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.linkContainer button {
    text-align: center;
    height: 72px;
    position: relative;
    overflow: hidden;
    background: var(--white);
    border: none;
}

.linkContainer button::after{
    content: "";
    height: 100%;
    background: var(--blue-dark);
    width: 15px;
    position: absolute;
    top: 0px;
    left: -10px;
    border-radius: 15px;
    transition: all .35s;
    opacity: 0;
}

.linkContainer button:hover::after{
    opacity: 1;
}

@media screen and (max-width: 1000px)
{
    .sidebarContainer {
        min-width: 10%;
    }
}

@media screen and (max-width: 700px)
{
    .sidebarContainer {
        min-width: 20%;
    }
}